* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(13, 64, 160);
}

.slider { text-align: center;
    text-decoration-color: darkorange;
    text-emphasis-color:  darkorange;
    position: relative;
    width: 40%;
    overflow: hidden;
   
    
}
.images {
    display: flex;
    width: 100%;
}
.images img {
    height: 400px;
    width: 100%;
    transition: all 0.15s ease;
}
.images input {
    display: none;
}
.dots {
    display: flex;
    justify-content: center;
    margin: 5px;
}
.dots label {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid #fff 3px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 5px;
}
.dots label:hover {background: #fff;}
#img1:checked ~ .m1 {
    margin-left: 0;
}
#img2:checked ~ .m2 {
    margin-left: -100%;
}
#img3:checked ~ .m3 {
    margin-left: -200%;
}
#img4:checked ~ .m4 {
    margin-left: -300%;
}#img5:checked ~ .m5 {
    margin-left: -400%;
}
#img6:checked ~ .m6 {
    margin-left: -500%;
}
#img7:checked ~ .m7 {
    margin-left: -600%;
}
#img8:checked ~ .m8 {
    margin-left: -700%;
}
